.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.card-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding-block: 28px;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .card {
    max-width: 350px !important;
    min-width: 350px !important;
  }

  .child2 {
    padding-right: 0 !important;
    margin-top: 30px;
  }

  .check-lcb {
    width: 44px !important;
  }

  .gray-card {
    padding: 10px 5px !important;
  }

  .payto-hove .payto2 {
    bottom: -175px !important;
    right: -10px !important;
  }

  .payto2 {
    right: -10px !important;
  }

  .corpCard-anim {
    padding: 30px 5px !important;
  }

  .corp4 {
    width: 80px !important;
  }
}

.card {
  margin: 0 10px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  border: none;
}

.card img {
  border-radius: 10px;
}

button.disabled {
  cursor: not-allowed;
}

.testMonialCardImg {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  object-fit: cover;
}

@media (max-width: 640px) {
  .card {
    margin: 0 10px;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
  }

}