.observablehq {
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 500px;
}
/* .observablehq {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .observablehq canvas {
    max-width: 100%;
    height: auto;
    display: block;
  } */
/* .observablehq {
    position: absolute;
    height: 400px;
    overflow: hidden;
    width: 700px !important;
}

.observablehq canvas {
    position: absolute;
    width: 700px !important;
} */

.globe {
    /* margin-top: 400px; */
    position: relative;
    z-index: 99 !important;
}

.z-999 {
    z-index: 100 !important;
}

.curr-icons {
    top: -140px;
    width: 67%;
    height: 575px;
    object-fit: contain;
}

/* .curr-icons{
  top: -90px;
  width: 51%;
} */
.cvt-shadow {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    padding: 26px;
}

@media (min-width: 1050px) {
    .lg-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}

@media only screen and (min-width: 781px) and (max-width: 1080px) {
    .curr-icons {
        width: 75% !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 780px) {
    .curr-icons {
        width: 100% !important;
    }

}

@media only screen and (min-width: 700px) and (max-width: 1050px) {

    /* .observablehq {
        height: 250px !important;
        width: 100% !important;
    } */

    .globe {
        /* margin-top: 250px !important; */
    }

    /* .observablehq canvas {
        width: 200% !important;
        left: -50%;
    } */

}

@media only screen and (min-width: 1050px) and (max-width: 1700px) {
    /* .observablehq {
        height: 270px;
        width: 100% !important;
    } */

    .globe {
        /* margin-top: 270px !important; */
    }

    .curr-icons {
        top: -130px;
        width: 75% !important;
        height: 540px !important;
    }

}

@media only screen and (min-width: 1700px) {
    /* .observablehq {
        position: absolute;
        height: 280px;
        width: 100% !important;
    } */

    .h-div {
        height: 280px !important;
    }

    .observablehq canvas {
        /* left: -1500px; */
        z-index: 99;
        /* width: calc(100% - 400px) !important; */
        /* width: 1900px !important; */
    }

    .globe {
        /* margin-top: 280px !important; */
    }

    .header-text {
        width: 600px;
        text-align: start;
    }

    .mainPage {
        /*padding-left: 150px !important;*/
        /*padding-right: 150px !important;*/
    }

    .mainPage2 {
        /*padding-left: 350px !important;*/
        /*padding-right: 350px !important;*/
    }
}

@media only screen and (min-width: 1250px) {
    /* .observablehq canvas {
        width: 200% !important;
        left: -50%;
    } */
}

@media only screen and (min-width: 1450px) {
    /* .observablehq canvas {
        width: 250% !important;
        left: -75%;
    } */
}

@media only screen and (min-width: 1550px) {
    /* .observablehq canvas {
        width: 300% !important;
        left: -100%;
    } */
}

.globe {
    z-index: 999 !important;
}

.usdIcon, .eurIcon, .gbpIcon, .jpyIcon, .inrIcon {
    position: absolute;
    z-index: 99;
    background: none !important;
    animation: fade 5s infinite;
    top: 65vh;
    left: 50vw;
}

.currencyIcon {
    position: absolute;
    z-index: 99;
    background: none !important;
    animation: fade 3s infinite;
    top: 5vh;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 90%;
    }
}

/*.usdIcon {*/
/*    top: calc(1.8vh + 10px);*/
/*    left: calc(78vw - 100px);*/
/*    animation-delay: 2s;*/
/*}*/

/*.eurIcon {*/
/*    top: calc(10vh + 10px);*/
/*    left: calc(65vw - 100px);*/
/*    animation-delay: 4s;*/
/*}*/

/*.gbpIcon {*/
/*    top: calc(25vh + 10px);*/
/*    left: calc(90vw - 100px);*/
/*    animation-delay: 0s;*/
/*}*/

/*.jpyIcon {*/
/*    top: calc(35vh + 10px);*/
/*    left: calc(50vw - 100px);*/
/*    animation-delay: 3s;*/
/*}*/

/*.inrIcon {*/
/*    top: calc(20vh + 10px);*/
/*    left: calc(30vw - 100px);*/
/*    animation-delay: 1s;*/
/*}*/

/*@media (max-width: 626px) {*/
/*    .eurIcon {*/
/*        top: calc(3vh + 10px);*/
/*    }*/
/*    .gbpIcon {*/
/*        top: calc(5.5vh + 10px);*/
/*    }*/
/*    .jpyIcon {*/
/*        top: calc(6vh + 10px);*/
/*    }*/
/*    .inrIcon {*/
/*        top: calc(4vh + 10px);*/
/*    }*/
/*}*/

/*@media (max-width: 700px) and (min-width: 626px) {*/
/*    .gbpIcon {*/
/*        top: calc(20vh + 10px);*/
/*    }*/
/*    .jpyIcon {*/
/*        top: calc(24vh + 10px);*/
/*    }*/
/*}*/

/*@media (max-width: 1053px) and (min-width: 700px) {*/
/*    .eurIcon {*/
/*        top: calc(6vh + 10px);*/
/*    }*/
/*    .gbpIcon {*/
/*        top: calc(14vh + 10px);*/
/*        left: calc(100vw - 100px);*/
/*    }*/
/*    .jpyIcon {*/
/*        top: calc(16vh + 10px);*/
/*        left: calc(45vw - 100px);*/
/*    }*/
/*    .inrIcon {*/
/*        top: calc(10vh + 10px);*/
/*        left: calc(25vw - 100px);*/
/*    }*/
/*}*/

/*@media (max-width: 1253px) and (min-width: 1053px) {*/
/*    .usdIcon {*/
/*        left: calc(68vw - 100px);*/
/*    }*/
/*    .eurIcon {*/
/*        top: calc(7vh + 10px);*/
/*        left: calc(57vw - 100px);*/
/*    }*/
/*    .gbpIcon {*/
/*        top: calc(17vh + 10px);*/
/*        left: calc(77vw - 100px);*/
/*    }*/
/*    .jpyIcon {*/
/*        top: calc(18vh + 10px);*/
/*        left: calc(45vw - 100px);*/
/*    }*/
/*    .inrIcon {*/
/*        top: calc(13vh + 10px);*/
/*        left: calc(33vw - 100px);*/
/*    }*/
/*}*/

/*@media (min-width: 1253px) {*/
/*    .usdIcon {*/
/*        left: calc(68vw - 100px);*/
/*    }*/
/*    .eurIcon {*/
/*        left: calc(57vw - 100px);*/
/*    }*/
/*    .gbpIcon {*/
/*        top: calc(22vh + 10px);*/
/*        left: calc(85vw - 100px);*/
/*    }*/
/*    .jpyIcon {*/
/*        top: calc(26vh + 10px);*/
/*        left: calc(43vw - 100px);*/
/*    }*/
/*    .inrIcon {*/
/*        top: calc(15vh + 10px);*/
/*        left: calc(27vw - 100px);*/
/*    }*/
/*}*/